doctype html
html
  head
    title heimcontrol.js - Home automation in Node.js with Raspberry PI and Arduino
    link(rel='stylesheet', href='#{url}css/bootstrap.min.css') 
    link(rel='stylesheet', href='#{url}css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='#{url}css/font-awesome.min.css')
    link(rel='stylesheet', href='#{url}css/heimcontrol.css')
    link(rel='icon', href='#{url}favicon.ico', type='image/x-icon')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    meta(http-equiv="Content-language",content="en")
    meta(name="language",content="English")
    meta(name="keywords",content="arduino,raspberry,raspberry pi,home automation,automation,node,nodejs,mongo,mongodb,gpio,html5,websockets,heimcontrol,javascript")
    meta(name="description",content="Home automation in Node.js with Raspberry PI and Arduino")
    meta(name="generator",content="Wintersmith")
    meta(name="copyright",content="&copy; 2013 Willi Thiel")
    meta(name="author",content="Willi Thiel")
    meta(name="owner",content="Willi Thiel")
    meta(name="publisher",content="Willi Thiel")
    meta(name="version",content="1.0")
    meta(name="robots",content="all")
    meta(name="DC.Title",content="heimcontrol.js")
    meta(name="DC.Subject",content="Home automation in Node.js with Raspberry PI and Arduino")
    meta(name="DC.Creator",content="Wintersmith")
    meta(name="DC.Subject",content="Home automation in Node.js with Raspberry PI and Arduino")
    meta(name="DC.Publisher",content="Willi Thiel")
    meta(name="DC.Rights",content="Willi Thiel")
    meta(name="DC.Language",content="en")
    meta(property="og:title",content="heimcontrol.js")
    meta(property="og:site_name",content="heimcontrol.js")
    meta(property="og:type",content="article")
    meta(property="og:article:author",content="Willi Thiel")
    meta(property="og:article:tag",content="arduino,raspberry,raspberry pi,home automation,automation,node,nodejs,mongo,mongodb,gpio,html5,websockets,heimcontrol,javascript")
    meta(property="og:url",content="#{url}")
    meta(property="og:image",content="#{url}img/heimcontrol.jpg")
    meta(property="og:image:type",content="image/jpg")
    meta(property="og:image:width",content="970")
    meta(property="og:image:height",content="364")
    meta(property="og:description",content="Home automation in Node.js with Raspberry PI and Arduino.")
    script(data-main='#{url}js/heimcontrol', src='#{url}js/require-jquery.js')
    script.
      var url = "#{url}";
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38973162-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    script.
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.ni-c.de/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "4"]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
      })();
  body
    a.visible-desktop(href="https://github.com/ni-c/heimcontrol.js")
      img(style="z-index: 2000; position: absolute; top: 0; left: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png", alt="Fork me on GitHub")
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          button.btn.btn-navbar.navigation(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="#{url}") heimcontrol.js
          div.nav-collapse.collapse.navigation
            ul.nav#bar-menu-left
              li(class=(page.title === 'Home' ? 'active' : ''))                
                a(href="#{url}")
                  i.icon-home  
                  | &nbsp;Home
              li(class=(page.title === 'Get started' ? 'active' : ''))                
                a(href="#{url}get-started.html")
                  i.icon-thumbs-up  
                  | &nbsp;Get Started
              li.dropdown(class=(page.title.indexOf('Plugin')!==-1 ? 'active' : ''))                
                a.dropdown-toggle(href="#",data-toggle="dropdown",role="button",id="dropdown")
                  i.icon-cogs 
                  | &nbsp;Plugins&nbsp;
                  b.caret
                ul.dropdown-menu(role="menu",aria-labelledby="dropdown")
                  li
                    a(href="#{url}plugins/gpio.html") 
                      i.icon-lightbulb
                      | &nbsp;GPIO
                  li
                    a(href="#{url}plugins/arduino.html") 
                      i.icon-external-link
                      | &nbsp;Arduino
                  li
                    a(href="#{url}plugins/rgblights.html") 
                      i.icon-eye-open
                      | &nbsp;RGB Lights
                  li
                    a(href="#{url}plugins/webcam.html") 
                      i.icon-play-circle
                      | &nbsp;Webcam
                  li
                    a(href="#{url}plugins/wakeonlan.html") 
                      i.icon-off
                      | &nbsp;Wake-on-LAN
            ul.nav.pull-right#bar-menu-right
              li
                a.btn-logout(href="https://github.com/ni-c/heimcontrol.js") 
                  i.icon-github
                  | &nbsp;Fork it!&nbsp;
    div.container
      block content
    footer.footer
      div.container
        p Created by 
          a(href="http://about.ni-c.de") Willi Thiel
          | , licensed under&nbsp;
          a(href="https://github.com/ni-c/heimcontrol.js/blob/master/LICENSE") MIT License
          | .
        p Crafted using  
          a(href="http://jade-lang.com/") Jade
          | ,&nbsp;
          a(href="http://bootswatch.com/") Bootswatch
          | ,&nbsp;
          a(href="http://twitter.github.com/bootstrap/") Bootstrap
          | &nbsp;&&nbsp;
          a(href="http://fortawesome.github.com/Font-Awesome/") font-awesome
          | .
