extends ../layout

block content
  header.jumbotron.subhead#overview
    h1 Arduino Plugin
    p.lead With the Arduino plugin heimcontrol.js can communicate with an attached Arduino. 
    
  section.about
    h2.page-header About
    p The Arduino plugin builds upon the&nbsp;
      a(href="https://github.com/ni-c/duino") duino
      | &nbsp;library and allows the Raspberry PI to communicate over the USB port to an attached Arduino.
      
  section.implemented
    h2.page-header Implemented
    p The following methods are implemented:
     ul
       li 
         strong rc-switch
         | &nbsp; Use your Arduino to operate remote radio controlled devices. This will most likely work with all popular low cost power outlet sockets. (see:&nbsp;
         a(href="http://code.google.com/p/rc-switch/") http://code.google.com/p/rc-switch/
         | ) 
       li 
         strong sensor
         | &nbsp; Read the value from sensors attached to the Arduino
       li 
         strong ir-remote
         | &nbsp; Control TVs and other multimedia devices with an Infrared LED attached to your Arduino. (see:&nbsp;
         a(href="https://github.com/shirriff/Arduino-IRremote") https://github.com/shirriff/Arduino-IRremote
         | )
  section.examples
    h2.page-header Examples
    p Some examples using the Arduino plugin.

      h3.page-header RC Switch
      p Example controlling plug-in receiver using a FS1000A 5V 433Mhz TX/RX Module.
        h4.page-header Schematics
        p Arduino Schematics created with&nbsp;
          a(href="http://fritzing.org/download/") Fritzing
          | :
        img(src="#{url}img/arduino-rcswitch.png", alt="Arduino RC Switch")

        h4.page-header Settings
        p Settings for an m-e plug-in receiver with a 4 - 1 setting:
        img(src="#{url}img/arduino-rcswitch-settings.png", alt="Arduino RC Switch Settings")

        h4.page-header Tristate-Codes
        p The codes can be found here: 
          a(href="http://www.fhemwiki.de/wiki/Intertechno_Code_Berechnung") http://www.fhemwiki.de/wiki/Intertechno_Code_Berechnung

      h3.page-header LM 335 Temperature Sensor
      p Example reading sensor value from an LM 335 temperature sensor.
        h4.page-header Schematics
        p Arduino Schematics created with&nbsp;
          a(href="http://fritzing.org/download/") Fritzing
          | :
        img(src="#{url}img/arduino-lm35.png", alt="Arduino LM35")
        h4.page-header Settings
        p Settings for the LM 335 temperature sensor:
        img(src="#{url}img/arduino-lm35-settings.png", alt="Arduino LM 355 Settings")

      h3.page-header A 995011 photoresistor
      p Example reading an A 995011 photoresistor
        h4.page-header Schematics
        p Arduino Schematics created with&nbsp;
          a(href="http://fritzing.org/download/") Fritzing
          | :
        img(src="#{url}img/arduino-a995011.png", alt="Arduino A 995011")
        h4.page-header Settings
        p Settings for the A 995011 photoresistor:
        img(src="#{url}img/arduino-a995011-settings.png", alt="Arduino A 995011 Settings")

      h3.page-header LD 274-3 Infrared LED
      p Example controlling TVs and peripherals using an infrared LED
        h4.page-header Schematics
        p Arduino Schematics created with&nbsp;
          a(href="http://fritzing.org/download/") Fritzing
          | :
        img(src="#{url}img/arduino-ld274-3.png", alt="Arduino LD 274-3")
        h4.page-header Settings
        p Settings for an LG Plasma TV:
        img(src="#{url}img/arduino-ld274-3-settings.png", alt="LG Plasma TV Settings")

      h3.page-header LED
      p Example lighting an LED light
        h4.page-header Schematics
        p Arduino Schematics created with&nbsp;
          a(href="http://fritzing.org/download/") Fritzing
          | :
        img(src="#{url}img/arduino-led.png", alt="Arduino LED")
        h4.page-header Settings
        p Settings for a LED on port 4:
        img(src="#{url}img/arduino-led-settings.png", alt="Arduino LED Settings")
        