each item in items
  div.plugin-container.arduino(class=item.method)
    - if (item.method == 'rcswitch')
      p.description
        span.muted RC Switch:&nbsp;
        strong #{item.description} 
      div.btn-group(data-rcswitch="buttons-radio")
        button.btn.btn-large.socket(type="button", data-socket="arduino-rcswitch", data-value="1", data-id="#{item._id}", class=(item.value == 1 ? 'active' : ''))
          i.icon-circle
          | On
        button.btn.btn-inverse.btn-large.socket(type="button", data-socket="arduino-rcswitch", data-value="0", data-id="#{item._id}", class=(item.value == 0 ? 'active' : '')) 
          i.icon-circle-blank
          | Off
    - if (item.method == 'sensor')
      p.description
        strong #{item.description}&nbsp; 
        span.muted PIN #{item.pin}
      div.large
        p
          span.value(data-id="#{item._id}") #{item.value}
          | &nbsp;#{item.unit}
    - if (item.method == 'irremote')
      div
        button.btn.btn-large.socket(type="button", data-socket="arduino-irremote", data-value="1", data-id="#{item._id}")
          i.icon-certificate
          - if (item.description!='')
            | #{item.description}
          else
            | Send
    - if (item.method == 'led')
      p.description
        span.muted LED:&nbsp;
        strong #{item.description} 
      div.btn-group(data-led="buttons-radio")
        button.btn.btn-large.socket(type="button", data-socket="arduino-led", data-value="1", data-id="#{item._id}", class=(item.value == 1 ? 'active' : ''))
          i.icon-circle
          | On
        button.btn.btn-inverse.btn-large.socket(type="button", data-socket="arduino-led", data-value="0", data-id="#{item._id}", class=(item.value == 0 ? 'active' : '')) 
          i.icon-circle-blank
          | Off
