div.container
  h1 Settings
  h2 Arduino
  - if (typeof(success) !== 'undefined')
    div.alert.alert-success.fade.in
      button.close(type="button", data-dismiss="alert") ×
      =success
  div.row16
    form(action="/settings/arduino", method="post")
      div#arduino
        each item in items
          div.plugin-container.arduino.settings(id="#{item._id}")
            label(for="description") Description (optional):
            input(type="text", name="data[description][]", placeholder="Macbook", value="#{item.description}")
            label(for="method") Method:
            select(name="data[method][]")
              option(disabled="disabled",selected=(item.method == '')) Choose Method
              option(value="rcswitch",selected=(item.method == 'rcswitch')) rc-switch
            label(for="pin") Arduino PIN:
            input(type="text", name="data[pin][]", placeholder="10", required="1", value="#{item.pin}")
            label(for="val") Method Value:
            input(type="text", name="data[val][]", placeholder="0FFF0FFF", required="1", value="#{item.val}")
            input(type="hidden", name="data[_id][]", value="#{item._id}")
            button.btn.btn-danger.pull-right.delete(type="button",data-delete="#{item._id}")
              i.icon-trash.icon-large
              |  Delete
          
      p.arduino.buttons
        button.btn.btn-info.add(data-target="arduino", type="button") 
          i.icon-plus.icon-large
          |  Add
      
        button.btn.btn-success.save(type="submit") 
          i.icon-save.icon-large
          |  Save
      
div.plugin-container.arduino.settings#template(style="display: none;")
  label(for="description") Description (optional):
  input(type="text", name="data[description][]", placeholder="Macbook")
  label(for="method") Method:
  select(name="data[method][]")
    option(disabled="disabled",selected=true) Choose Method
    option(value="rcswitch") rc-switch
  label(for="pin") Arduino PIN:
  input(type="text", name="data[pin][]", placeholder="10", required="1")
  label(for="val") Method Value:
  input(type="text", name="data[val][]", placeholder="0FFF0FFF", required="1")
  button.btn.btn-danger.pull-right.delete(type="button")
    i.icon-trash.icon-large
    |  Delete